
#include README.md
#include LICENSE
#include setup.py
include polarchart/data/mtcars.csv

# Test/package data
#recursive-include pystars/data *

# Documentation
#recursive-include docs *.rst
#recursive-include docs *.md
#recursive-include docs *.py
